.button {
  border: 2px solid rgba(247, 247, 247, 0.697);
  border-radius: 100%;
  background-color: rgba(155, 155, 155, 0.342);
  color: rgba(255, 255, 255, 0.697);
  padding: 15px 20px;
  cursor: pointer;
}

button#next {
  position: absolute;
  top: 50vh;
  right: 5vw;
}

button#prev {
  position: absolute;
  top: 50vh;
  left: 5vw;
}
